<p id="notice"><%= notice %></p>

<h1>Listing Contact Infos</h1>

<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Telephone number</th>
      <th>Fax number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_infos.each do |contact_info| %>
      <tr>
        <td><%= contact_info.shop %></td>
        <td><%= contact_info.telephone_number %></td>
        <td><%= contact_info.fax_number %></td>
        <td><%= link_to 'Show', contact_info %></td>
        <td><%= link_to 'Edit', edit_contact_info_path(contact_info) %></td>
        <td><%= link_to 'Destroy', contact_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact info', new_contact_info_path %>
