<%= form_for @profile, :html => {:class => "form-horizontal", :role => 'form'} do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="bg-warning col-md-10 col-sm-12">
      <h2><%= pluralize(@profile.errors.count, "error") %> found in field input:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-inputs well col-md-10 col-sm-12">
    <div class="form-group required">
      <div class="col-md-3 col-sm-12">
        <%= f.label :first_name, class: 'control-label' %>
      </div>
      <div class="col-md-7 col-sm-12">
        <%= f.text_field :first_name, class: 'form-control' %>  
      </div>
    </div>
    <div class="form-group required">
      <div class="col-md-3 col-sm-12">
        <%= f.label :last_name, class: 'control-label' %>
      </div>
      <div class="col-md-7 col-sm-12">
        <%= f.text_field :last_name, class: 'form-control' %>  
      </div>      
    </div>
    <div class="form-group required">
      <div class="col-md-3 col-sm-12">
        <%= f.label :city, class: 'control-label' %>
      </div>
      <div class="col-md-7 col-sm-12">
        <%= f.text_field :city, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group required">
      <div class="col-md-3 col-sm-12">
        <%= f.label :postal_code, class: 'control-label' %>
      </div>
      <div class="col-md-7 col-sm-12">
        <%= f.text_field :postal_code, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.hidden_field(:user_id, { value: current_user.id }) %>
    </div>
    <div class="form-group actions">
      <div class="col-md-3 col-sm-12">
      <%= f.submit 'Set profile', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>


