<%= form_for @profile, :html => {:class => "form-horizontal", :role => 'form'} do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well col-sm-8">
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :first_name %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :first_name, class: 'form-control' %>  
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :last_name %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :last_name, class: 'form-control' %>  
      </div>      
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :city %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :city, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :postal_code %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :postal_code, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.hidden_field(:user_id, { value: current_user.id }) %>
    </div>
    <div class="form-group actions">
      <div class="col-sm-4">
      <%= f.submit 'Set user profile', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
