<div class="user-inputs well">
	<dl>
		<dt>First Name</dt>
		<dd><%= profile.first_name %></dd>
	</dl>
	<dl>
		<dt>Last Name</dt>
		<dd><%= profile.last_name %></dd>
	</dl>
	<dl>
		<dt>City</dt>
		<dd><%= profile.city %></dd>
	</dl>
	<dl>
		<dt>Postal Code</dt>
		<dd><%= profile.postal_code %></dd>
	</dl>
	<dl>
		<dt>Email</dt>
		<dd><%= profile.user.email %></dd>
	</dl>
</div>
