<div class="container profile-parent">

	<div class="row">

		<div class="col-md-8 col-sm-12 col-xs-12 profile-card">
			<div class="row profile-header">

				<div class="profile-picture">
					<%= image_tag("woman1.png", :alt => "") %>
				</div>

				<div class="profile-info">
					<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
					<p>
						<i class="fa fa-globe"></i> <%= @profile.city %>

					</p>

					<p>
						<% if current_user.friends.include?(@user) %>
							<i class="fa fa-check-square-o"></i> Guest
						<% else %>
							<%= link_to "Add Guest", friendships_path(:friend_id => @user), :method => :post %>
						<% end %>
					</p>

				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="profile-nav">
						<table class="table table-condensed">

							<tr>
								<td><a href="#" class="diet-button" ><div class="glyphicon glyphicon-grain"></div>Dietary Preferences</a></td>

							</tr>

							<tr>
								<td><a href="#" class="fav-recipe-button"><div class="glyphicon glyphicon-heart"></div>Favorite Recipes</a></td>

							</tr>

						</table>

					</div>
				</div>
					
				<div class="col-md-9 col-sm-9 col-xs-12">
					<div class="profile-main-content">

							<table class="table table-condensed dietary-prefs">

								<tr>
									<td valign="top" align="right" class="col1"><h3>diets</h3></td>

									<td>
										<% @user.diets.each do |diet| %>
											<ul>
												<li type="circle"><%= diet.name %></li>
											</ul>
										<% end %>
									</td>

								</tr>

								<tr>
									<td align="right" valign="top" class="col1"><h3>allergies</h3></td>

									<td>
										<% @user.allergies.each do |allergy| %>
											<ul>
												<li type="circle"><%= allergy.name %></li>
											</ul>
										<% end %>
									</td>

								</tr>

								<tr>
									<td align="right" valign="top" class="col1"><h3>excluded ingredients</h3></td>

									<td>
										<% @user.excluded_ingredients.each do |excluded_ingredient| %>
											<ul>
												<li type="circle"><%= excluded_ingredient.name %></li>
											</ul>
										<% end %>

									</td>

								</tr>
							</table>			
					</div>

					<div class="fav-recipes-collage">
						<ul class="img-list">
							<% @user.user_favourite_recipes.each do |user_recipe_id| %>

									<li class="col-md-6 col-sm-6 col-xs-12 show-users-fav-recipes">

										<!-- Using link_to "do" is so that you can insert the span -->

										<%= link_to("http://www.yummly.com/recipe/#{user_recipe_id.yummly_id}") do %>

											<%= image_tag(user_recipe_id.find_recipe_thumbnail.sub("=s90", "=s300"), :alt => "") %>
											<!-- When hovering over the image of the recipes the name appears -->
											<span class="text-content"><span><%= user_recipe_id.find_recipe_name %></span></span>

										<% end %>

									</li>

							<% end %>
						</ul>

					</div>
				</div>
			</div>		
		</div>
	</div>
</div>