<!-- <div class="container">
<%= render 'profile', profile: @profile %>

<%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-default" %> 
<%= link_to 'Set Dietary Preferences', preferences_path, class: "btn btn-default" %>
</div> -->

<div class="container profile-parent">

	<div class="row">

		<div class="col-md-8 profile-card">
			<div class="row profile-header">

				<div class="profile-picture">
					<%= image_tag("woman1.png", :alt => "") %>
				</div>

				<div class="profile-info">
					<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
					<p><i class="fa fa-globe"></i> <%= @profile.city %></p>
				</div>



			</div>

			<div class="profile-nav">
				<table class="table table-condensed">

					<tr>
						<td><div class="glyphicon glyphicon-grain"></div>Dietary Preferences</td>

					</tr>

					<tr>
						<td><div class="glyphicon glyphicon-heart"></div>Favorite Recipes</td>

					</tr>

				</table>

			</div>


		</div>

	</div>

</div>