<!-- Search forms -->
<div class="container"> 
        <%= form_tag shops_path, method: :get, :class => 'search-section' do %>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <%= text_field_tag 'search_by_name', nil, placeholder: 'Enter shop name...', class: "form-control" %>
          </div>
          <div class="col-md-4 col-sm-12">
            <%= text_field_tag 'search_by_city', nil, placeholder: 'Enter city...', class: "form-control" %>
          </div>
          <div class="col-md-4 col-sm-12">
            <%= text_field_tag 'search_by_province', nil, placeholder: 'Enter province...',  class: "form-control" %>
          </div>
        </div>
          
          <div class="col-md-4 col-sm-12">
            <%= select_tag 'search_by_nearest_distance', "<option value=''>Nearest markets in...</option><option value='5'>5 km</option><option value='10'>10 km</option><option value='15'>15 km</option><option value='20'>20 km</option><option value='30'>30 km</option><option value='40'>40 km</option><option value='50'>50 km</option>".html_safe, multiple: false, class: "form-control" %>
          </div>
          <div class="col-md-4 col-sm-12">
            <%= select_tag "ingredient_ids", options_for_select(Ingredient.all.collect { |u| [u.name, u.id] }), class: "form-control", multiple: true, include_blank: 'Choose an ingredient...' %>
          </div>
          <div class="col-md-4 col-sm-12">
            <%= submit_tag 'Search' , class: "btn btn-default", id: "search-button" %>
          </div>
        <% end %>
</div>

<!-- Search Results -->
<div class="container">
    <% @shops.each do |shop| %>
      <div class="row well">
        <div class="col-md-8 col-sm-12">
          <%= render 'view_shop_summary', shop: shop %>
        </div> 
        <div class="col-md-4 col-sm-12">
          <% if user_signed_in? then %>
            <%= render 'actions_for_shop', shop: shop %>
          <% end %> 
          <%= render 'view_shop', shop: shop %>
          <% if user_signed_in? and current_user.can_modify_shops? then %>
            <%= render 'change_shop', shop: shop %>
          <% end %>
        </div>
      </div>
    <% end %>

<% if user_signed_in? and current_user.can_modify_shops? then %>
  <%= link_to 'New Shop', new_shop_path, class: "btn btn-default" %>
<% end %>
</div>

<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>
