<div class="container fav-recipe-page">
  <h1><%= current_user.profile.first_name %>'s Favourite Recipes | <span class="number_of_favs"><%= current_user.user_favourite_recipes.count %> Results</span></h1>

    <div class="recipe-tile-row">

      <% @user_favourite_recipes.each do |user_favourite_recipe| %>


          <div class="recipe-item">
            <div class="well recipe-well">

              <!--  Finds recipe image and replaces size from 90x90 to 300 -->

              <!-- Should move the Recipe finded to a function instead of in view -->
               <%= link_to image_tag(user_favourite_recipe.find_recipe_thumbnail.sub("=s90", "=s300"), :alt => ""), 
                 "http://www.yummly.com/recipe/#{user_favourite_recipe.id}" %>

              <!-- Should move the Recipe finded to a function instead of in view -->
              <h3><%= user_favourite_recipe.find_recipe_name %></h3>
              

              <%= render 'view_user_favourite_recipe', user_favourite_recipe: user_favourite_recipe %>
              <%= render 'change_user_favourite_recipe', user_favourite_recipe: user_favourite_recipe %>




            </div>
          </div> 
      <% end %>
    </div>
</div>
