<div class="container-fluid">

	<h3>Friends</h3>

	<table class="table">
		<tr>
			<th>Name</th>
			<th>Diets</th>
			<th>Allergies</th>
			<th>Excluded Ingredients</th>
			<th>Eating With?</th>
			<th></th>
		</tr>

		<% User.all.each do |user| %>
		<tr>
			<td><%= user.profile.first_name %></td>

			<td>
				<% user.diets.each do |diet| %>
					<%= diet.name %><br>
				<% end %>

			</td>

			<td>
				<% user.allergies.each do |allergy| %>
					<%= allergy.name %><br>
				<% end %>

			</td>

			<td>
				<% user.excluded_ingredients.each do |ingredient| %>
					<%= ingredient.name %><br>
				<% end %>

			</td>



			<% if current_user.friends.include?(user) %>
			<% @friendship = current_user.friendships.find_by(friend_id: user) %>
				<td><%= link_to "Remove Guest", @friendship, :method => :delete %></td>
			<% else %>
				<td><%= link_to "Add Guest", friendships_path(:friend_id => user), :method => :post %></td>
			<% end %>




		</tr>
			
		<% end %>
	</table>
</div>



