<div class="container-fluid">

	<%= form_tag '', method: :get, :class => 'search-section' do %>
		<div class="col-md-4 col-md-offset-4">
		  <%= text_field_tag 'search_by_all', nil, placeholder: 'Find Friends', class: "form-control" %>
		</div>
	<% end %>

</div>

 <div class="tabs">
 
    <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">ALL USERS</label>
        
        <div class="tab-content">
         <ul class="friend-list">

         	<% User.all.each do |user| %>
         	<% if user.has_profile? %>
	           <li class="friend list-unstyled">
	             <%= image_tag("woman1.png", :alt => "") %>
	             
	             <div class="friend-info">
	             	
	               	<h5><%= user.profile.first_name%> <%= user.profile.last_name%>
		               	<% if current_user.admin_user? %>
		               		<%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
		               	<% end %>
	               	</h5>

	               <p><%= link_to "View Profile", "profiles/#{user.profile.id}" %> </p>

	               <div class="friend-food-pref">
	                 <ul>
	                   
 	                   	<% user.diets.each do |diet| %>
	                   		<li><%= diet.name %><br></li>
	                   	<% end %>

	                   	<% user.allergies.each do |allergy| %>
	                   		<li><%= allergy.name %><br></li>
	                   	<% end %>

	                   	<% user.excluded_ingredients.each do |ingredient| %>
	                   		<li><%= ingredient.name %><br></li>
	                   	<% end %> 
              
	                 </ul>

	               </div>
	               	<% if user != current_user %>
		               	<% if current_user.friends.include?(user) %>
			               	<% @friendship = current_user.friendships.find_by(friend_id: user) %>
			               		<p><%= link_to "Remove Guest", @friendship, :method => :delete %></p>
		               	<% else %>
		               		<p><%= link_to "Add Guest", friendships_path(:friend_id => user), :method => :post %></p>
		            	<% end %>
		            <% end %>

	             </div>



	           </li>	


	           <% end %>
	        <% end %>

           
 

         </ul>
         <br style="clear: both">
        </div> 
    </div>

     <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1" >
        <label for="tab-2" class="main-user-tab" >MY GUESTS</label>
        
        <div class="tab-content">
         <div class="friend-guest">
         	<ul>
         		<% current_user.friends.each do |friend| %>
         			<li><%= friend.profile.first_name %> <%= friend.profile.last_name %>

         				<%= link_to @friendship, :method => :delete do %>
         					<i class="fa fa-trash-o fa-lg"></i>
         				<% end %>

         			</li>

         		<% end %>

         	</ul>

         </div>
         
        </div> 

       </div>

        <div class="tab">
        	<input type="radio" id="tab-3" name="tab-group-1" >
        	<label for="tab-3" class="main-user-tab" >MENU LIMITATIONS</label>

        	<div class="tab-content">

        	 <div class="profile-main-content">


        	 	<table class="table table-condensed dietary-prefs">

        	 		<tr>
        	 			<td valign="top" align="right" class="col1"><h3>diets</h3></td>

        	 			<td>
					 		<% current_user.friends.each do |friend| %>
				    	 		<% friend.diets.each do |diet| %>
					    	 		<ul>
					    	 			<li type="circle"><%= diet.name%></li>
					    	 		</ul>			    	 			
				    	 		<% end %>
					 		<% end %>
        	 			</td>

        	 		</tr>

        	 		<tr>
        	 			<td align="right" valign="top" class="col1"><h3>allergies</h3></td>

        	 			<td>
					 		<% current_user.friends.each do |friend| %>
				    	 		<% friend.allergies.each do |allergy| %>
					    	 		<ul>
					    	 			<li type="circle"><%= allergy.name%></li>
					    	 		</ul>
				    	 		<% end %>
					 		<% end %>
        	 			</td>

        	 		</tr>

        	 		<tr>
        	 			<td align="right" valign="top" class="col1"><h3>excluded ingredients</h3></td>

        	 			<td>
 					 		<% current_user.friends.each do |friend| %>
			        	 		<% friend.excluded_ingredients.each do |excluded_ingredient| %>
				        	 		<ul>
				        	 			<li type="circle"><%= excluded_ingredient.name%></li>
				        	 		</ul>			        	 			
			        	 		<% end %>
			    	 		<% end %>

        	 			</td>

        	 		</tr>
        	 	</table>			

        	 </div>
        	 
        	</div> 
        </div>
    </div>
