<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>Listing Shopping List Items</h1>
</div>

<div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th>Completed?</th>
      <th>Shopping list</th>
      <th>Ingredient Name</th>
      <th>Ingredient Quantity</th>
      <th>Ingredient Quantity Unit</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_list_items.each do |shopping_list_item| %>
      <tr>
        <td><%= ( shopping_list_item.done ) ? "Yes" : "No" %></td>
        <td><%= shopping_list_item.shopping_list.name %></td>
        <td><%= shopping_list_item.ingredient_name %></td>
        <td><%= shopping_list_item.ingredient_quantity %></td>
        <td><%= shopping_list_item.ingredient_quantity_unit %></td>
        <td><%= link_to 'Mark Complete', "mark_shopping_list_item_done/#{shopping_list_item.id}" %></td>
        <td><%= link_to 'Show', shopping_list_item %></td>
        <td><%= link_to 'Edit', edit_shopping_list_item_path(shopping_list_item) %></td>
        <td><%= link_to 'Destroy', shopping_list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Shopping list item', new_shopping_list_item_path %>
