<p id="notice"><%= notice %></p>



<div class="container-fluid">
  <h1>Recipes</h1>

  <%= form_tag 'recipes', method: :get do %>
    <div class="col-md-3">

      <%= select :recipe, :prep_time, Recipe::PREP_TIMES, {include_blank: "Prep Time"}, class: "form-control"%>
    </div>

    <div class="col-md-3">
      <%= select :recipe, :meal_type, Recipe::MEAL_TYPES, {include_blank: "Meal Type"}, class: "form-control"%>
    </div>

    <div class="col-md-3">
      <%= select :recipe, :ingredient_type_picker, Ingredient::INGREDIENT_TYPES, {include_blank: "Ingredient Type"}, class: "form-control"%>
    </div>


    <%= submit_tag 'Search' , class: "btn btn-default" %>
    <button class= "btn btn-primary" ><%=link_to("Show All", recipes_path)%></button>
  <% end %>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Directions</th>
        <th>Prep time</th>
        <th>Meal type</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.instructions %></td>
          <td><%= recipe.prep_time %> min</td>
          <td><%= recipe.meal_type %></td>
          <td><%= link_to 'Make Shopping List', "/make_shopping_list/#{recipe.id}" %></td>
          <td><%= link_to 'Show', recipe %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Recipe', new_recipe_path %>


</div>

<div class="container-fluid">
  
<div class="recipe-tile-row">
  <% @recipes.each do |recipe| %>
    <div class="recipe-item">
      <div class="well recipe-well">
        <%= image_tag("basil-bucket.jpg", :alt => "") %>
        <h3><%= recipe.name %></h3> 
        <p>Prep Time: <%= recipe.prep_time %> min </p>
        <p>Meal Type: <%= recipe.meal_type %></p>
        <p><%= link_to 'Show', recipe %></p>
        
      </div>
    </div>
  <% end %>

</div>
</div>


