<div class="container-fluid">

  <%= form_tag 'recipes', method: :get, :class => 'search-section' do %>
    <div class="col-md-3">
      <%= select :recipe, :prep_time, Recipe::PREP_TIMES, {include_blank: "Prep Time"}, class: "form-control"%>
    </div>

    <div class="col-md-3">
      <%= select :recipe, :meal_type, Recipe::MEAL_TYPES, {include_blank: "Meal Type"}, class: "form-control"%>
    </div>

    <div class="col-md-3">
      <%= select :recipe, :ingredient_type_picker, Ingredient::INGREDIENT_TYPES, {include_blank: "Ingredient Type"}, class: "form-control"%>
    </div>

    <%= submit_tag 'Search' , class: "btn btn-default" %>
    <button class= "btn btn-primary" ><%=link_to("Show All", recipes_path)%></button>
  <% end %>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Directions</th>
        <th>Prep time</th>
        <th>Meal type</th>
        <th>Shopping List</th>
        <th>Favourites</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.instructions %></td>
          <td><%= recipe.prep_time %> min</td>
          <td><%= recipe.meal_type %></td>
          <%= render 'actions_for_recipe', recipe: recipe %>
          <%= render 'view_recipe', recipe: recipe %>
          <% if current_user.admin_user? then %>
            <%= render 'change_recipe', recipe: recipe %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if current_user.admin_user? then %>
    <%= link_to 'New Recipe', new_recipe_path %>
  <% end %>

</div>

<div class="container-fluid">
  
<!--   <div class="recipe-tile-row">
    <% @recipes.each do |recipe| %>
      <div class="recipe-item">
        <div class="well recipe-well">
          <%= image_tag("basil-bucket.jpg", :alt => "") %>
          <h3><%= recipe.name %></h3> 
          <p>Prep Time: <%= recipe.prep_time %> min </p>
          <p>Meal Type: <%= recipe.meal_type %></p>
          <p><%= link_to 'Show', recipe %></p>
          
        </div>
      </div>
    <% end %>

  </div> -->
  <div class="recipe-tile-row">
    <% @results.each do |recipe| %>
      <div class="recipe-item">
        <div class="well recipe-well">

          <% if recipe.images.first.small_url.present? %>
            <%= link_to Yummly.find(recipe.id).json["source"]["sourceRecipeUrl"] do %>
              <%= image_tag(recipe.images.first.small_url.sub("=s90", "=s300"), :alt => "") %>
            <% end %>
            
          <% else %>
            <%= image_tag("basil-bucket.jpg", :alt => "") %>
          <% end %>
          <h3><%= recipe.recipe_name %></h3> 

          <% if recipe.total_time_in_seconds.present? %>
            <p>Prep Time: <%= recipe.total_time_in_seconds/60 %> min </p>
          <% end %>

          <% if recipe.attributes["course"].present? %>
            <p>Meal Type: <%= recipe.attributes["course"].first %></p>
          <% end %>

          <p><%= link_to "View Recipe",Yummly.find(recipe.id).json["source"]["sourceRecipeUrl"] %></p>

          

          
         

          
        </div>
      </div>
    <% end %>

  </div>
</div>


