<div class="container-fluid">


<div class="container-fluid">

    <div class="recipe-search">

        <%= form_tag 'recipes', method: :get, :class => 'search-section' do %>


            <div class="col-md-2">
              <%= select_tag 'search_by_time', "<option value='' selected=\"selected\">All Time</option><option value='900'>15 minutes</option><option value='1800'>30 minutes</option><option value='3600'>1 hour</option><option value='7200'>2 hours</option>".html_safe, class: "form-control recipe-filter" %>
            </div>

            <div class="col-md-2">
              <%= select_tag 'search_by_allergy', "<option value=''>No Allergies</option><option value='393^Gluten-Free'>Gluten-Free</option><option value='396^Dairy-Free'>Dairy-Free</option><option value='396^Dairy-Free'>Dairy-Free</option><option value='397^Egg-Free'>Egg-Free</option><option value='394^Peanut-Free'>Peanut-Free</option><option value='398^Seafood-Free'>Seafood-Free</option><option value='400^Soy-Free'>Soy-Free</option><option value='395^Tree Nut-Free'>Tree Nut-Free</option><option value='392^Wheat-Free'>Wheat-Free</option><option value='395^Tree Nut-Free'>Tree Nut-Free</option>".html_safe, multiple: true, class: "form-control recipe-filter" %>
            </div>

            <div class="col-md-2">
              <%= select_tag 'search_by_diet', "<option value='' >All Diets</option><option value='387^Lacto-ovo vegetarian'>Vegetarian</option><option value='386^Vegan'>Vegan</option><option value='390^Pescetarian'>Pescetarian</option><option value='403^Paleo'>Paleo</option><option value='389^Ovo vegetarian'>Ovo-Vegetarian</option><option value='388^Lacto vegetarian'>Lacto-Vegetarian</option>".html_safe, multiple: true, class: "form-control recipe-filter" %>

            </div>

            <div class="col-md-2">
              <%= select_tag 'search_by_course', "<option value='' selected=\"selected\">All Courses</option><option value='course^course-Appetizers'>Appetizers</option><option value='course^course-Main Dishes'>Main Dishes</option><option value='course^course-Salads'>Salads</option><option value='course^course-Side Dishes'>Side Dishes</option><option value='course^course-Lunch and Snacks'>Lunch and Snacks</option><option value='course^course-Soups and Snacks'>Soups</option><option value='course^course-Desserts'>Desserts</option><option value='course^course-Condiments and Sauces'>Condiments and Sauces</option><option value='course^course-Cocktails'>Cocktails</option><option value='course^course-Breakfast and Brunch'>Breakfast and Brunch</option><option value='course^course-Beverages'>Beverages</option>".html_safe, class: "form-control recipe-filter" %>
            </div>

            <div class="col-md-2">
              <%= text_field_tag 'search_by_all', nil, placeholder: 'Keyword', class: "form-control recipe-filter" %>
            </div>


            <%= submit_tag 'Search' , class: "btn btn-default", id: "search-button" %>

        
      <% end %>

      <p>Warning! Also searching by <%= current_user.profile.first_name %>'s dietary preferences!</p>
      <ul>
        <li><%= current_user.find_user_diets %></li>
      </ul>
  </div>
  
  <div class="recipe-tile-row">
    <% @results.each do |recipe| %>
      <div class="recipe-item">
        <div class="well recipe-well">


         <!--  Finds recipe image and replaces size from 90x90 to 300 -->

          <%= link_to image_tag(recipe.thumbnail.sub("=s90", "=s300"), :alt => ""), Yummly.find(recipe.id).json["source"]["sourceRecipeUrl"]%>

          <%= render 'actions_for_recipe', recipe: recipe %>


         <h3><%= recipe.recipe_name %></h3>
          <% if recipe.total_time_in_seconds.present? %>
            <p>Prep Time: <%= recipe.total_time_in_seconds/60 %> min </p>
          <% end %>

          <% if recipe.attributes["course"].present? %>
            <p>Meal Type: <%= recipe.attributes["course"].first %></p>
          <% end %>



        
          

          
         

          
        </div>
      </div>
    <% end %>

  </div>
</div>



