<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>


<p>
	<strong>Ingredients:</strong>
	<ul>
	<% @recipe.recipe_ingredient_quantities.each do |recipe_ingredient| %>
		<li><%= recipe_ingredient.quantity.to_i %> <%= recipe_ingredient.quantity_unit %> <%= recipe_ingredient.ingredient.name %></li>
	<% end %>
	</ul>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Meal type:</strong>
  <%= @recipe.meal_type %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> | <%= link_to 'Generate Shopping List', "/make_shopping_list/#{@recipe.id}" %> |
<%= link_to 'Back', recipes_path %>
