<p id="notice"><%= notice %></p>

<p>
  <strong>Day of week:</strong>
  <%= @operating_hour.day_of_week %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @operating_hour.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @operating_hour.end_time %>
</p>

<p>
  <strong>Is weekend hours:</strong>
  <%= @operating_hour.is_weekend_hours %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @operating_hour.shop %>
</p>

<%= link_to 'Edit', edit_operating_hour_path(@operating_hour) %> |
<%= link_to 'Back', operating_hours_path %>
