<div class="container">
<%= form_for @ingredient, :html => {:class => "form-horizontal", :role => 'form'} do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well col-md-10 col-sm-12">
    <div class="form-group">
      <div class="col-md-3 col-sm-12"><%= f.label :name %></div>
      <div class="col-md-7 col-sm-12"><%= f.text_field :name, class: 'form-control' %></div>
    </div>
    <div class="form-group">
      <div class="col-md-3 col-sm-12"><%= f.label :ingredient_type_id %></div>
      <div class="col-md-7 col-sm-12">
        <%= f.collection_select :ingredient_type_id, IngredientType.all, :id, :name, {}, {multiple: false, :include_blank => false, :class => "form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 col-sm-12"><%= f.label :months %></div>
      <div class="col-md-7 col-sm-12"><%= f.select :months, options_from_collection_for_select(Month.all, 'id' ,'name' ), {}, :multiple => true, class: 'form-control' %></div>
    </div>

    <div class="form-group actions">
      <div class="col-md-3 col-sm-12"><%= f.submit 'Set Ingredient Information', class: 'btn btn-primary' %></div>
    </div>
  </div>


<% end %>
</div>