<%= form_for(@dietary_preference) do |f| %>
  <% if @dietary_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dietary_preference.errors.count, "error") %> prohibited this dietary_preference from being saved:</h2>

      <ul>
      <% @dietary_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :diet_id %></div>
    <div><%= f.collection_select :diet_id, Diet.all, :id, :name %></div>
  </div>
  <div class="field">
    <%= f.hidden_field(:user_id, { value: current_user.id }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
