<%= form_for @dietary_preference, :html => {:class => "form-horizontal", :role => 'form'} do |f| %>
  <% if @dietary_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dietary_preference.errors.count, "error") %> prohibited this dietary_preference from being saved:</h2>

      <ul>
      <% @dietary_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container col-sm-8">
    <div class="form-group">

      <div class="row">
        <div class="col-sm-4">
          <%= f.label :diet_id %>
        </div>
        
        <div class="col-sm-8">
          <% Diet.all.each do |diet| %>
            <%= check_box_tag 'diets[]', diet.id %> <%= diet.name %><br>
          <% end %>
        </div>
      </div><br>


      <div class="row">
        <div class="col-sm-4">
          <%= f.label :allergy_id %>
        </div>

        <div class="col-sm-8">
          <% Allergy.all.each do |allergy| %>
            <%= check_box_tag 'allergies[]', allergy.id %> <%= allergy.name %><br>
          <% end %>
        </div>
      </div>




    </div>

    <div class="form-group">
      <%= f.hidden_field(:user_id, { value: current_user.id }) %>
    </div>

    <div class="form-group actions">
      <%= f.submit 'Set Dietary Preference', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
