<div class="container"><h1>Listing Dietary Preferences</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Diet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dietary_preferences.each do |dietary_preference| %>
      <tr>
        <td><%= dietary_preference.user.email %></td>
        <td><%= dietary_preference.diet.name %></td>
        <%= render 'view_dietary_preference', dietary_preference: dietary_preference %>
        <%= render 'change_dietary_preference', dietary_preference: dietary_preference %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dietary preference', new_dietary_preference_path %>
</div>