<%= form_for :preferences, url: preferences_path, :html => {:class => "form-horizontal", :role => 'form', method: 'patch'} do |f| %>

<div class="container-fluid ">
  <div class="row">
    <div class=" col-sm-6">

      <div class="well preference-section">
        <h4 class="title"><%= f.label :diet_id %></h4>

        <% Diet.all.each do |diet| %>
          <%= check_box_tag 'diet_ids[]', diet.id, checked = current_user.diet_ids.include?(diet.id) %> <%= diet.name %><br>
        <% end %>
      </div>
     
    </div>


    <div class=" col-sm-6">
      <div class="well preference-section">
        <h4 class="title"><%= f.label :allergy_id %></h4>

        <% Allergy.all.each do |allergy| %>
          <%= check_box_tag 'allergy_ids[]', allergy.id, checked = current_user.allergy_ids.include?(allergy.id) %> <%= allergy.name %><br>
        <% end %>
      </div>
     
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="well">
        <h4 class="title"><%= f.label :excluded_ingredients %></h4>
        <p class="helper-text">Add each ingredient separated by a comma ( ' , ' )</p>
        <%= f.text_field :excluded_ingredients, :placeholder => "E.g. apples, barley, coconut", :class => "ingredient_input_field" %>
      </div>
     

    </div>
    <div class="">
      <%= f.hidden_field(:user_id, { value: current_user.id }) %>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <table class="table">

        <% @excluded_ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td class="remove-ingredient"><%= link_to '', "remove_excluded_ingredient/#{ingredient.id}", class: "glyphicon glyphicon-remove" %></td>
        </tr>
        <% end %>

      </table>

      <div class="form-group col-sm-12 pref_submit">
        <%= f.submit 'Save Preferences', class: 'btn btn-default' %>
      </div>
      <% end %>

    </div>

   

  </div>

    
    



</div>
      