
 




	<h3>Items for: <%= @shopping_list.name %></h3>
	<table class="table">
	<thead>
		<th>Completed?</th>
		<th>Ingredient Name and Quantity</th>
	</thead>
	<tbody>
		<% @shopping_list.shopping_list_items.each do |shopping_list_item| %>
		<tr>
		<td><%= ( shopping_list_item.done ) ? "Yes" : "No" %></td>
        <td><%= shopping_list_item.ingredient_name %></td>
        <td><%= link_to 'Mark Complete', "mark_shopping_list_item_done/#{shopping_list_item.id}" %></td>
        </tr>
		<% end %>
	</tbody>
	</table>


<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
