<div class="container">
	<h3>Items for: <%= @shopping_list.name %></h3>
			<% @shopping_list.shopping_list_items.each do |shopping_list_item| %>
			<div class="row well">
				<div class="col-md-6 col-sm-12"><%= shopping_list_item.ingredient_name %></div>
				<div class="col-md-3 col-sm-12">Item complete? <%= ( shopping_list_item.done ) ? "Yes" : "No" %></div>
				<div class="col-md-3 col-sm-12"><%= link_to 'Mark Complete', "mark_shopping_list_item_done/#{shopping_list_item.id}" %></div>
			</div>
			<% end %>

<%= link_to 'Back to Shopping Lists', shopping_lists_path, class: 'btn btn-default' %>
</div>

