<%= form_for(@user_favourite_shop) do |f| %>
  <% if @user_favourite_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_favourite_shop.errors.count, "error") %> prohibited this user_favourite_shop from being saved:</h2>

      <ul>
      <% @user_favourite_shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :shop_id %><br>
    <%= f.text_field :shop_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
