<p id="notice"><%= notice %></p>

<h1>Listing User Favourite Shops</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Shop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_favourite_shops.each do |user_favourite_shop| %>
      <tr>
        <td><%= user_favourite_shop.user %></td>
        <td><%= user_favourite_shop.shop %></td>
        <td><%= link_to 'Show', user_favourite_shop %></td>
        <td><%= link_to 'Edit', edit_user_favourite_shop_path(user_favourite_shop) %></td>
        <td><%= link_to 'Destroy', user_favourite_shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User favourite shop', new_user_favourite_shop_path %>
