<div class="container">
<h1><%= current_user.profile.first_name %>'s Favourite Shops</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Shop</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_favourite_shops.each do |user_favourite_shop| %>
      <tr>
        <td><%= user_favourite_shop.user.get_display_name %></td>
        <td><%= user_favourite_shop.shop.name %></td>
        <%= render 'view_user_favourite_shop', user_favourite_shop: user_favourite_shop %>
        <%= render 'change_user_favourite_shop', user_favourite_shop: user_favourite_shop %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
