<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_favourite_shop.user %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @user_favourite_shop.shop %>
</p>

<%= link_to 'Edit', edit_user_favourite_shop_path(@user_favourite_shop) %> |
<%= link_to 'Back', user_favourite_shops_path %>
