<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_favourite_shop.user.get_display_name %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @user_favourite_shop.shop.name %>
</p>

<p>
	<strong>Shop Info</strong>
	<%= render 'shops/view_shop_details', shop: @user_favourite_shop.shop %>
</p>

<%= link_to 'Back', user_favourite_shops_path %>
