<p id="notice"><%= notice %></p>

<h1>Listing Web Infos</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Website</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Shop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_infos.each do |web_info| %>
      <tr>
        <td><%= web_info.email %></td>
        <td><%= web_info.website %></td>
        <td><%= web_info.facebook %></td>
        <td><%= web_info.twitter %></td>
        <td><%= web_info.shop %></td>
        <td><%= link_to 'Show', web_info %></td>
        <td><%= link_to 'Edit', edit_web_info_path(web_info) %></td>
        <td><%= link_to 'Destroy', web_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web info', new_web_info_path %>
