<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @web_info.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @web_info.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @web_info.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @web_info.twitter %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @web_info.shop %>
</p>

<%= link_to 'Edit', edit_web_info_path(@web_info) %> |
<%= link_to 'Back', web_infos_path %>
