<%= form_for(@diet) do |f| %>
  <% if @diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diet.errors.count, "error") %> prohibited this diet from being saved:</h2>

      <ul>
      <% @diet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="fieldGroup">
    <div><%= f.label :ingredient_types %></div>
    <div><%= f.collection_select :ingredient_type_ids, IngredientType.all, :id, :name, {}, multiple: true %></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
