<%= form_for @diet, :html => {:class => "form-horizontal", :role => 'form'} do |f| %>
  <% if @diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diet.errors.count, "error") %> prohibited this diet from being saved:</h2>

      <ul>
      <% @diet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-container col-sm-8">
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :name %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :ingredient_types %>
      </div>
      <div class="col-sm-4">
        <%= f.collection_select :ingredient_type_ids, IngredientType.all, :id, :name, {}, {multiple: true, :class =>"form-control" } %>
      </div>
    </div>

    <div class="form-group actions">
      <%= f.submit "Set Diet Definition", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
