<%= form_for @diet, :html => {:class => "form-horizontal", :role => 'form'} do |f| %>
  <% if @diet.errors.any? %>
    <div id="error_explanation" class="bg-warning col-md-10 col-sm-12">
      <h2><%= pluralize(@diet.errors.count, "error") %> found in field input:</h2>

      <ul>
      <% @diet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="well col-md-10 col-sm-12">
    <div class="form-group required">
      <div class="col-md-3 col-sm-12">
        <%= f.label :name, class: 'control-label' %>
      </div>
      <div class="col-md-7 col-sm-12">
        <%= f.text_field :name, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group required">
      <div class="col-md-3 col-sm-12">
        <%= f.label :ingredient_types, class: 'control-label' %>
      </div>
      <div class="col-md-7 col-sm-12">
        <%= f.collection_select :ingredient_type_ids, IngredientType.all, :id, :name, {}, {multiple: true, :class =>"form-control" } %>
      </div>
    </div>

    <div class="form-group actions">
      <div class="col-md-3 col-sm-12">
        <%= f.submit "Set Diet Definition", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
