<div class="container-fluid search-section">

	<div class="row">

	  <div class="col-md-12 finder">
	  	<%= form_tag ingredient_availabilities_path, method: :get, :html => {:class => "form-inline"} %>

	  		<span>It's </span>

	  		<%= select_tag "month", options_from_collection_for_select(Month.all, 'id' ,'name' ), class: 'form-control ingredient-avail-selector', include_blank: true  %>

	  		<span>and I'm looking for</span>

	  		<%= select_tag "ingredient_type",  options_from_collection_for_select(IngredientType.all, 'id' ,'name' ), class: 'form-control ingredient-avail-selector', include_blank: true %>

	  		<span>in</span>

	  		<%= select_tag "city", "<option selected='selected'>Toronto</option>".html_safe, class: 'form-control ingredient-avail-selector'  %>


	  		<%= submit_tag "Search" , class: 'btn btn-success'%>

	  </div>
	</div>

</div>


<div class="container-fluid">
	<table class="table">
			<tr>
				<th>Ingredient</th>
				<th>Jan</th>
				<th>Feb</th>
				<th>Mar</th>
				<th>Apr</th>
				<th>May</th>
				<th>June</th>
				<th>July</th>
				<th>Aug</th>
				<th>Sept</th>
				<th>Oct</th>
				<th>Nov</th>
				<th>Dec</th>

			</tr>
		
			<% @ingredients.each do |ingredient| %>
				<tr>
					<td class="ingredient">
						
							<%= link_to recipes_path(search_by_all: ingredient.name) do %>
								<%= ingredient.name %>
								<span class="link-to-recipe glyphicon glyphicon-share-alt"></span>
							<% end %>
						
					
							
						
					</td>

					<td>
						<% if ingredient.months.find_by(name: "January") != nil %>
						<button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-ok"></span>
						</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "February") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "March") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "April") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "May") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "June") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "July") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "August") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "September") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "October") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "November") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

					<td>
						<% if ingredient.months.find_by(name: "December") != nil %>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-ok"></span> 
							</button>						
						<% end %>
					</td>

				</tr>
			<% end %>



	</table>

</div>










   





