<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">Farm/Shop/Table</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <%= link_to "Recipes",  recipes_path %>
                </li>
                <li>
                    <%= link_to "Seasonal Ingredients",  ingredient_availabilities_path %>
                </li>
                <li>
                    <%= link_to "Where to Buy",  shops_path %>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? then %>

                    <li role="presentation" class="dropdown profile-dropdown">

                        

                        <% if current_user.profile.present? then %>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <%= image_tag("woman1.png", :alt => "") %>
                                <%= current_user.profile.first_name %>
                                <%= current_user.profile.last_name %>

                                <span class="caret"></span>

                            </a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><%= link_to 'Edit Profile', edit_profile_path(current_user.profile.id) %></li>
                                  <li><%= link_to 'Edit Dietary Preferences', preferences_path %></li>
                                  <li><%= link_to 'Favourite Recipes', user_favourite_recipes_path %></li>
                                  <li><%= link_to 'Favourite Shops', user_favourite_shops_path %></li>
                                  <li><%= link_to "Shopping Lists",  shopping_lists_path %></li>
                                </ul>

                        <% else %>
                            <%= link_to 'Set Up New Profile', new_profile_path %>
                        <% end %>
                      </li>
                <% end %>
                <li>
                    <% if user_signed_in? then %>
                        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>

                    <% else %>
                        <ul class="nav navbar-nav navbar-right">
                            <li><%= link_to 'Sign In', new_user_session_path %></li>
                            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                        </ul>
                        
                    <% end %>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- <div class="container user_authentication">
    <div class="user_info">
    <% if user_signed_in? then %>
    	<p>Hi, <%= current_user.email %>! You are a <%= current_user.user_category %> user for Farm. Shop. Table.</p>
    <% end %>
    </div>
    <div class="notice">
    <%= notice %>
    </div>
    <div class="alert">
    <%= alert %>
    </div>
</div> -->

