<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">Farm/Shop/Table</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <%= link_to "Seasonal Ingredients",  ingredient_availabilities_path %>
                </li>
                <li>

                    <%= link_to "Recipes",  recipes_path %>

                </li>

                <li>
                    <a href="#contact">Where to Buy</a>
                </li>

                <li>
                <%= link_to "My Shopping Lists",  shopping_lists_path %>

                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="logo">
<p>Farm.</p><br>
<p>Shop.</p><br>
<p>Table.</p>
</div>

<% if user_signed_in? then %>
	<div class="logout">
		<%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
	</div>
	<div class="user_info">
		<p>Hi, <%= current_user.email %>! You are a <%= current_user.user_category %> user for Farm. Shop. Table.</p>
	</div>
<% else %>
<div class="login">
	<%= link_to 'Sign in', new_user_session_path %>
</div>
<% end %>

<p class="notice">
<%= notice %>
</p>
<p class="alert">
<%= alert %>
</p>
